<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand/Logo -->
    <a class="navbar-brand">Workout Tracker</a>
    
    <!-- Toggler for Responsive Menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-iceblue" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-iceblue" routerLink="/workout-split">Workout Splits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-iceblue" routerLink="/log-workout">Log Workout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
