<div class="container text-light mt-4">
  <h2>Dashboard</h2>
  <hr />

  <!-- Next Workout Card -->
  <div class="card bg-dark mb-3">
    <div class="card-body white-text">
      <h5 class="card-title">Next Workout</h5>
      <p *ngIf="nextWorkout; else noWorkout">
        Scheduled for: <strong>{{ nextWorkout.name }}</strong>
      </p>
      <ng-template #noWorkout>
        <p>No workout scheduled for today.</p>
      </ng-template>
      <button
        class="btn btn-primary mt-3"
        [disabled]="!nextWorkout"
        routerLink="/log-workout"
      >
        Start Workout
      </button>
    </div>
  </div>

  <!-- Weekly Progress Card -->
  <div class="card bg-dark mb-3">
    <div class="card-body white-text">
      <h5 class="card-title">Weekly Progress</h5>
      <p>
        Workouts Completed:
        <strong>{{ weeklyProgress?.completed }}</strong>/<strong>{{ weeklyProgress?.target }}</strong>
      </p>
      <button
        class="btn btn-secondary mt-3"
        
      >
        View Detailed Progress
      </button>
    </div>
  </div>

  <!-- Recent Activity Card -->
  <div class="card bg-dark">
    <div class="card-body white-text">
      <h5 class="card-title">Recent Activity</h5>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item bg-dark text-light"
          *ngFor="let logs of recentActivity"
        >
          <strong>Workout Date: {{ logs.workoutDate }}</strong>;
          Completed reps: {{ logs.completedReps }}
        </li>
      </ul>
      <button
        class="btn btn-outline-light mt-3"
        
      >
        View All Activity
      </button>
    </div>
  </div>
</div>
